
<ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-avatar class="avatar"><img src="https://www.fillmurray.com/200/200"/></ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-justify-content-around">
        <form [formGroup]="loginForm" class="login-information ion-justify-content-around">
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
            <ion-icon name="mail" slot="start"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
            <ion-icon name="lock" slot="start"></ion-icon>
          </ion-item>
        </form>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <div class="ion-text-center">  
            Sign in with:
        </div>
      </ion-col>
      <ion-col class="ion-align-items-center" size="2">
        <ion-icon class="facebook-logo" name="logo-facebook"></ion-icon>
      </ion-col>
  </ion-row>
  <ion-row class="action-buttons ion-justify-content-around">
      <ion-button shape="round" color="dark" fill="outline" disabled="true"> Sign Up</ion-button>
      <ion-button (click)="signIn()" [disabled]="!loginForm.valid" shape="round" color="dark"> Sign In</ion-button>
  </ion-row>
</ion-grid>
