ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.facebook-logo {
    font-size: 52px;
  }

.avatar {
    border-radius: 10%;
    width: 100px;
    height: 100px;
}