<ion-menu side="start" menuId="first" content-id="main">
    <ion-content class="ion-justify-content-center">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-list lines="none"> 
                <ion-item>
                  <ion-label>
                      Dashboard
                  </ion-label>
                  <ion-icon slot="start" name="film"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>
                        Dashboard
                    </ion-label>
                    <ion-icon slot="start" name="film"></ion-icon>
                  </ion-item>
                  <ion-item>
                      <ion-label>
                          Dashboard
                      </ion-label>
                      <ion-icon slot="start" name="film"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Dashboard
                        </ion-label>
                        <ion-icon slot="start" name="film"></ion-icon>
                    </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
      </ion-grid>

    </ion-content>
  </ion-menu>