<ion-header>
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="toggleMenu()" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movies">
    <ion-card *ngFor="let movie of movies ">
        <ion-card-header>
          <ion-card-title>{{ movie?.title }}</ion-card-title>
          <ion-card-subtitle> Release Date: {{ movie?.release_date }}</ion-card-subtitle>
          <ion-card-subtitle> Average Rating {{ movie?.vote_average }} / 10</ion-card-subtitle>
        </ion-card-header>

        <img *ngIf="movie" [src]="movie.poster_path">
        
        <ion-card-content>
        </ion-card-content>
      </ion-card>
</ion-content>
